body {
    background-image: url("./lcc.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#url {
    color: white;
}